.game-board {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 100%;
  height: 80%;
  color: white;
  font-weight: bolder;
}

.category-cards {
  display: flex;
  font-size: 1em;
  width: 100%;
  height: 6em;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid green; */
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 18%;
  background-color: #364fc7;
  /* border: 2px solid orange; */
  border-radius: 1em;
}
