.clue-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  /* height: 20%; */
  color: #fcc201;
  font-size: 1.15em;
  border: 2px solid yellow;
}


.clue-value {
  width: 18%;
  margin-top: 1em;
  height: 4em;
  background-color: #364fc7;
  border-radius: 1em;
  border: 2px solid purple;
}
